<div class ="row-md-6">

</div>
<div class="container-fluid">
    <div class ="row-md-center">
        <div class="text-center h2 " style="background-color: dark;">
            <div>Lista de Contatos</div>
            <%= form_tag(contacts_path, method: :get) do%>
            <%= text_field_tag 'search', nil, placeholder: 'Enter search name...'%>
            <%= submit_tag "Search"%>
            <% end %>
        </div>
    </div>

    <div class ="row-md-center">
        <div class="col-2 offset-5 text-center h4 border boder color: white" style="background-color: primary;">
            <% @contacts.each do |contact| %>
                <div class=""><%=link_to contact.name, contact_path(contact)%></div>
            <% end %>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row-md-center"> 
        <div class="button-center" role="group" aria-label="WWW"><div class="btn btn-dark">
            <%=link_to "Criar Novo", :new_contact, method: :get%>
        </div>
    </div>
</div>
